body{
    font-family: system-ui;
}
header{
    background-color: #e4e4e8;
    width: 100%;
    margin-top: -10px;
/*     z-index: 99; */
}
.main{
    width: 65%;
    text-align: center;
    margin: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header section{
    position: relative;
}
.header p{
    position: absolute;
    top: -24px;
    right: -8px;
    background-color: #fff;
    padding: 1px 6px;
    border-radius: 50%;
    color: rgb(1, 37, 92);
    font-weight: 700;
    font-family: system-ui;
    line-height: 18px;
}
.logo{
    width: 130px;
    height: 110px;
    cursor: pointer;
    padding: 15px;
}

.carrito{
    width: 39px;
    height: 38px;
    /* background-color: blue; */
}


.cart-products{
    position: absolute!important;
    top: 82px;
    right: 
    18px;
    background-color: #fff;
    padding: 0 180px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    display: none;
    min-width: 290px;
}

.cart:hover{
    margin-bottom: 16px;
    transition-duration: .5s;
}
/*end header*/
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.produc{
    max-width: 250px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    padding-bottom: 34px;
    margin-bottom: 40px;
}
.produc img{
    width: 100%;
    height:220px;
}
.produc p{
    font-family: system-ui;
    font-weight: 500;
    padding: 0 20px;
    margin-bottom: 24px;
}
.produc section p{
    position: absolute;
    top: 0;
    right: 0px;
    background-color: rgb(0, 235, 129);
    color: #fff;
    padding: 2px 7px 4px 21px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
.produc section{
    position: relative;
}
.produc a{
    font-family: system-ui;
    text-decoration: none;
    padding: 9px 23px;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
}

.produc a:hover{
    background: #fff;
    color: red;
    border: solid 2px red;
    transition-duration: .3s;
}
.btn-add-cart{
    background-color:midnightblue;
}

.cart-products .item img{
    width: 115px;
}

.cart-products .item{
    display: flex;
    align-items: center;
    border-bottom: solid 2px red;
}
.cart-products .item .item-content{
    margin: 0 19px;
    width: 201px;
}
.cart-products .item .item-content h5{
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    font-family: system-ui;
}
.cart-products .item .item-content h6{
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    font-family: system-ui;
}
.cart-products .item span{
    background-color: red;
    padding: 0px 5px;
    border-radius: 50%;
    color: #fff;
    font-family: system-ui;
    cursor: pointer;
}
.cart-products h3{
    margin-bottom: 0;
}
.cart-products .item .item-content h5.cart-price{
    font-weight: 700;
}

p.close-btn{
    top: -4px;
    right: 6px;
    cursor: pointer;
    color: #000;
}
